<header class="cm-header">
    <div class="cm-logo">ЗВЕЗДНЫЙ ✦</div>
    <nav class="cm-nav">
        <NavLink href="/" Match="NavLinkMatch.All">Афиша</NavLink>
        <NavLink href="/schedule">Расписание</NavLink>
        <NavLink href="/profile">Личный кабинет</NavLink>
    </nav>
</header>

