<footer class="cm-footer">
    <div>
        <strong>Кинотеатр «Звездный»</strong>
        <div class="cm-muted">Смотри на большом экране</div>
    </div>
    <div class="cm-muted">
        <div>API: https://localhost:7028/</div>
        <div>© @DateTime.Now.Year</div>
    </div>
</footer>

